.footer_container {
    min-height: 200px;
    width: 100%;
    background-color: rgb(26, 26, 31);
    padding-bottom: 2%;
}

.footer_container h2{
    color: white;
    padding: 10px;
    margin: 0;
}

.footer_container h2 a {
    color: rgb(155, 73, 170);
}

.footer_container h2 a:hover {
    color: rgb(226, 130, 186);
}

.footer_info {
    display: flex;
    justify-content:space-evenly;
    color: rgb(245, 245, 245);
}

.footer_container li h3 {
    text-align: left;
}

.footer_container li h3 a {
    text-decoration: none;
    color: rgb(155, 73, 170)
}

.footer_container li h3 a:hover {
    color: rgb(226, 130, 186);
}