.footer_container {
    min-height: 100px;
    width: 100%;
    background-color: rgb(26, 26, 31);
}

.footer_container h2{
    color: white;
    padding: 10px;
    margin: 0;
}

.footer_container h2 a {
    color: rgb(136, 66, 136);
    text-shadow: rgb(110, 34, 110) 1px 1px 1px;
}

.footer_container h2 a:hover {
    color: rgb(159, 87, 172);
}

.footer_info {
    display: flex;
    justify-content:space-evenly;
    color: rgb(245, 245, 245);
}